[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/even"]
	path = themes/even
	url = https://github.com/olOwOlo/hugo-theme-even
[submodule "public"]
	path = public
	url = git@github.com:miroadamy/miroadamy.github.io.git
