---
title: "How to make screenshot from command line"
date: 2013-09-24T11:22:48+08:00
published: true
categories: ["Technology"]
tags: ["os-x", "virtualbox"]
author: "Miro Adamy"
---

# How to make screenshot from command line

![](/images/binding-dashdoc-with-editors-and-eclipse_5.png)
